<!--<mat-grid-list [cols]=4 gutterSize="0">-->
    <!--<mat-grid-tile>-->
        <!--<salsa-student-profile [student]="user"></salsa-student-profile>-->
    <!--</mat-grid-tile>-->
    <!--<mat-grid-tile colspan="3">-->
        <!--<salsa-student-advancement></salsa-student-advancement>-->
    <!--</mat-grid-tile>-->
<!--</mat-grid-list>-->
<div class="container">
    <div>
        <salsa-student-profile [student]="user"></salsa-student-profile>
    </div>
    <div [fxFlex]="calc3Cols">
        <salsa-student-advancement></salsa-student-advancement>
    </div>
</div>
