/* You can add global styles to this file, and also import other style files */

/* angular material theme */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* customize */
body {
    //margin: 0;
}

.salsa-mat-card {
    margin:2em;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}

.salsa-table-container {
    padding-bottom: 2em;
}

.salsa-stepper {
    width:100%;
}

.salsa-table {
    width: 100%;
}
