<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SALSA - Login</title>

    <!-- Bootstrap core CSS-->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin.css" rel="stylesheet">

  </head>

  <body class="bg-dark" ng-app="appSalsa">

    <div class="container" ng-controller="ctLogin">
      <div class="card card-login mx-auto mt-5">
        <div class="card-header">SALSA - Login</div>
        <div class="card-body">
          <form >
              
            <div class="form-group">
              <div class="form-label-group">
                <input type="text" ng-model="mail" id="inputEmail" class="form-control" placeholder="Email address" required="required" autofocus="autofocus" >
                <label for="inputEmail">Identifiant</label>
              </div>
            </div>
              
            <div class="form-group">
              <div class="form-label-group">
                <input type="password" ng-model="password" id="inputPassword" class="form-control" placeholder="Password" required="required" >
                <label for="inputPassword">Mot de passe</label>
              </div>
            </div>
              
            <a class="btn btn-primary btn-block" ng-click="verif()">Se connecter</a>
              <!--<a class="btn btn-primary btn-block" href="index.html" ng-click="verif">Se connecter</a> -->
          </form>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

  </body>
    
    <script>
        var app = angular.module('appSalsa', []);
        app.controller('ctLogin', function($scope) {

            $scope.verif = function() {
                console.log($scope.mail);
                console.log($scope.password);
                if ($scope.mail === "a" && $scope.password === "a") {
                    window.location.href = "./index.html";
                }
            }
            
        });
    </script>

</html>
