<div fxFlexFill>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span>Salsa</span>
            <button type="button" mat-raised-button color="primary" (click)="sidemenu_drawer.toggle()" *ngIf="button_activate">
                Admin navigation
            </button>
            <span class="empty-spacer"></span>
            <button mat-button routerLink="">Home</button>
            <button mat-button routerLink="universities">Universities partners</button>
            <button mat-button routerLink="">How to use</button>
            <button mat-button routerLink="admin">Administratior</button>
        </mat-toolbar-row>
    </mat-toolbar>
</div>
