<mat-card class="mat-elevation-z4">
    <mat-card-title> Student Login </mat-card-title>
    <mat-card-content>
        <form fxLayout="column" fxLayoutAlign="start stretch" [formGroup]="loginForm" (ngSubmit)="login()">
            <mat-form-field class="full-width">
                <input matInput placeholder="Username" name="username" formControlName="username" required>
            </mat-form-field>
            <mat-form-field class="full-width">
                <input matInput placeholder="Password" type="password" name="password"
                       formControlName="password" required>
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
                Sign in
            </button>
            <mat-spinner [style.display]="showSpinner ? 'block' : 'none'" color="accent"></mat-spinner>
        </form>

    </mat-card-content>
</mat-card>
