<div fxLayout="column" fxFlexFill fxLayoutAlign="center center"
     style="height: 100%; background-repeat: no-repeat; background-position: center; background-size: cover;">
    <div fxLayout="column" >

        <div class=" mat-elevation-z4">
            <mat-card>
                <mat-card-title> User login
                    <a class="redirect" [routerLink]="['login']">Register an account (TODO)</a>
                </mat-card-title>
                <mat-card-content>
                    <form fxLayout="column" fxLayoutAlign="start stretch" [formGroup]="loginForm" (ngSubmit)="login()">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Username" name="username" formControlName="password" required>
                        </mat-form-field>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Password" type="password" name="password" formControlName="password" required>
                        </mat-form-field>
                        <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid" (click)="login()">log in</button>
                    </form>
                    <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
