$gray-lighter: #eceeef !default;

$prefix: 'sigin';

.#{$prefix} {

    &-conainer {
        min-height: 100%;
        background-size: cover;
        padding: 100px;
    }

    &-main {
        position: relative;
        margin: 0 auto;
        width: 500px;
    }
}

.full-width {
    width: 100%;
}

.help {

}

.is-danger {

}

.redirect {
    font-size: 14px;
    margin-left: 10px;
    color: #00AAAA;
}
